 <div>          
    <div class="create2">
        <h2>Create post</h2>
    </div>
    <form class="create2 new-post">
        <div class="create title_margin">
            <label for="Title">Title</label>
            <input size="40em" type="text" id="Title"/>
        </div>
        <div class="create"> 
            <label for="post_content">Content</label>
            <textarea id="post_content" name="post_content"
            rows="8" cols="70"></textarea>
        </div>
        <div class="create">
        <button id="bt" tye="submit">Submit</button>
        </div>  
    </form>
</div>


<script src="/js/newpost.js"></script>